<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <!-- Menú de navegación -->
    <nav>
        <ul>
            <li><a href="{% url 'inicio:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'app2:app2v1' %}">Vista 1 App2</a></li>
            <li><a href="{% url 'app2:app2v2' %}">Vista 2 App2</a></li>
        </ul>
    </nav>

    <!-- Contenido específico de cada página -->
    {% block content %}
    {% endblock %}

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2023 Mi Proyecto</p>
    </footer>
</body>
</html>